.sidebar {
  width: 60px;
  height: 100%;
  padding: 12px 10px 0;
  display: flex;
  flex-direction: column;
  background-color: var(--sidebar-color);
  transition: width 0.5s cubic-bezier(0.53, -0.04, 0.26, 1.34);

  &--item {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 8px;
    transition: width 0.5s ease-in-out;

    &:hover {
      background-color: var(--hover-color);
    }

    &.active {
      background-color: var(--active-color);
    }

    &-icon {
      height: 28px;
      width: 24px;
      font-size: 24px;
      color: var(--icon-color);
    }

    .collapse-icon {
      transition: transform 0.5s ease-in-out;
    }

    &-title {
      width: 0px;
      display: block;
      opacity: 0;
      margin-left: 8px;
      color: var(--title-text-color);
      letter-spacing: 1px;
      transition: width 0.5s ease,
        opacity 0.3s cubic-bezier(0.25, 0.1, 0.7, 0.91);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-spacer {
      flex: 1;
    }
  }
  &.expanded {
    width: 160px;

    .sidebar--item {
      width: 100%;

      &-title {
        width: 100%;
        opacity: 1;
      }

      .collapse-icon {
        transform: rotate(-180deg);
      }
    }
  }
}
